button {
    height: 2.5rem;
    border: none;
    padding: 0 1rem;
    cursor: pointer;
    background-color: #cacaca;
    color: #444;
}
button:hover {
    color: #000;
}

#delete {
    background-color: #e89393;
    width: 100%;
}

input {
    height: 2.5rem;
    padding: .4rem .8rem;
    margin: 0;
    font-family: monospace;
    font-size: 1.2rem;
    width: 100%;
}
input:focus {
    outline: none;
}

#question.real {
    background-color: #cacaca;
}
#question.real::placeholder {
    color: #444;
    font-style: italic;
}
#solution.real {
    background-color: #333;
    color: #eee;
}
#solution.real::placeholder {
    font-style: italic;
}

input.real {
    border: none;
}
input.skeleton {
    border: 1px dashed #cacaca;
}
