app-card {
    display: block;
    margin: 1.5rem 0;
}

#name {
    font-weight: bold;
    color: #777;
    font-size: 1.2rem;
    display: block;
}

#progressContainer {
    color: #777;
    font-size: .9rem;
    display: inline-block;
    padding-top: .6rem;
}
#index, #size {
    font-weight: bold;
}

#remainingContainer {
    color: #777;
    font-size: .9rem;
    float: right;
}
#remaining {
    font-size: 1.5rem;
}

#exit {
    display: inline-block;
    margin-top: 1rem;
    margin-right: .4rem;
    padding: .6rem 1rem;
    cursor: pointer;
    color: #444;
    text-decoration: none;
    background-color: #e89393;
}
#exit:hover {
    color: #000;
}
