app-edit {
    display: block;
    margin-bottom: 1rem;
}

#exit {
    display: inline-block;
    margin-top: 2rem;
    margin-right: .4rem;
    padding: .6rem 1rem;
    cursor: pointer;
    color: #444;
    text-decoration: none;
    background-color: #cacaca;
    height: 2.5rem;
}
#exit:hover {
    color: #000;
}

button {
    height: 2.5rem;
    border: none;
    padding: 0 1rem;
    margin-right: .4rem;
    margin-bottom: .4rem;
    cursor: pointer;
    background-color: #cacaca;
    color: #444;
}
button:hover {
    color: #000;
}

#add {
    background-color: #61c361;
    margin: 0;
    width: 100%;
}
#delete {
    background-color: #e89393;
}
#exit {
    background-color: #61c361;
}

@media screen and (min-width: 64em) {
    .responsive-padding-right {
        padding-right: 1rem;
    }
}

#name {
    display: inline-block;
    border: none;
    border-bottom: 1px solid #cacaca;
    background-color: #fff;
    padding: .4rem 0;
    font-size: 1.2rem;
    color: #444;
    width: 100%;
}
#name:focus {
    outline: none;
}

#importArea {
    margin-top: 2rem;
}


#fileInput {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
#fileInput + label {
    background-color: #cacaca;
    display: inline-block;
    cursor: pointer;
    min-width: 200px;
    max-width: 300px;
    margin: 0 1rem 0 0;
    padding: .75rem 1rem .75rem 1rem;
    font-size: 1rem;
    line-height: 1;
    color: #444;
}

#fileInput:focus + label,
#fileInput + label:hover {
    background-color: #2196F3;
}

#fileInput.error + label {
    background-color: #e89393;
}
