footer {
    background-color: #cacaca;
    font-size: .9rem;
    margin-top: 2rem;
}

header {
    background-color: #61c361;
    margin-bottom: 1rem;
}
header .grid-container {
    padding: .6rem 1rem;
}

.padded {
    padding: 2rem 1rem;
}

a {
    text-decoration: none;
    color: #137b13;
}
a:hover {
    text-decoration: underline;
}
