#collections {
    padding: 0;
}

li {
    list-style-type: none;
    display: inline-block;
    background-color: #cacaca;
    width: 30%;
    margin: 0 1rem 1rem 0;
}
li:hover {
    background-color: #aac3aa;
}

li.new, li.new:hover {
    background-color: #eee;
}

li .collection {
    display: inline-block;
    width: 100%;
    min-height: 3rem;
    padding: 1rem 1rem 0 1rem;
    text-decoration: none;
    color: #333;
}
li a.collection:focus, li a.collection:visited {
    color: #333;
}

.name {
    display: block;
    font-weight: bold;
    font-size: 1.2rem;
}
.size {
    margin-top: .5rem;
    display: block;
}

.buttons {
    padding: 0 1rem 1rem 1rem;
}

a.train, a.manage {
    display: inline-block;
    margin-top: 1rem;
    margin-right: .4rem;
    padding: .6rem 1rem;
    cursor: pointer;
    background-color: #eee;
    color: #444;
    text-decoration: none;
    height: 2.5rem;
}
a.train:hover, a.manage:hover {
    color: #000;
}
a.train {
    background-color: #61c361;
}

button {
    height: 2.5rem;
    border: none;
    margin-right: .4rem;
    padding: 0 1rem;
    cursor: pointer;
    background-color: #cacaca;
    color: #444;
}
button:hover {
    color: #000;
}
button:focus {
    outline: none;
}
#new {
    background-color: #cacaca;
    margin-top: 1rem;
}
