<ul id="collections">
    <li *ngFor="let collection of collections">
        <a [routerLink]="['/', 'train', collection.id]" class="collection">
            <span class="name">{{ collection.name }}</span>
            <span class="size">{{ collection.size() }} cards</span>
        </a>
        <div class="buttons">
            <a [routerLink]="['/', 'train', collection.id]" class="train">Train</a>
            <a [routerLink]="['/', 'manage', collection.id]" class="manage">Manage</a>
        </div>
    </li>
</ul>
