@import "../node_modules/foundation-sites/assets/foundation";

* {
    box-sizing: border-box;
}

body {
    background-color: #fff;
    padding: 0;
    margin: 0;
}

.clearfix {
    display: block;
    clear: both;
}

.separator {
    border-top: 1px solid #aaa;
    margin: .5rem 0;
}

input {
    box-shadow: none !important;
}

.padding-top-1 { padding-top: 1rem; }
.padding-right-1 { padding-right: 1rem; }

.inline-block { display: inline-block; }
