* {
    box-sizing: border-box;
}

body {
    background-color: #fff;
}

.clearfix {
    display: block;
    clear: both;
}

.separator {
    border-top: 1px solid #aaa;
    margin: .5rem 0;
}

.padding-top-1 { padding-top: 1rem; }
